# Ignoriere alles im Verzeichnis SPE_W1
SPE_W1/*

# Ausnahme für main.c, diese Datei soll nicht ignoriert werden
!SPE_W1/main.c

# Ignoriere das Verzeichnis .vs und alle darin enthaltenen Dateien
.vs/

# Ignoriere alle Debug-Dateien und Verzeichnisse
x64/
SPE_W1/x64/
