# Ignoriere alle Dateien und Verzeichnisse in prozeduraleProgrammierung_1/
prozeduraleProgrammierung_1/*

# Ausnahme für main.c
!prozeduraleProgrammierung_1/main.c

# Ignoriere alle Dateien und Verzeichnisse im .vs-Verzeichnis
.vs/

# Ignoriere alle Debug-Dateien und -Verzeichnisse
x64/
prozeduraleProgrammierung_1/x64/
